<!DOCTYPE html>
<html class="background">

<head>
	<meta charset="UTF-8">
	<title>Add new Competitions</title>
	<link rel="stylesheet" href="/css/style.css" >
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>

<body>
	<div class="exit" >
		<form action="/" method="get" >
			<button class="button" type="submit">Exit</button>
		</form>	
		<br>
		<form action="/mainPage" method="post"  >
			<button class="button" type="submit">Back</button>
		</form>
	</div>
	<div class="register" id="competitionBox" >
		<form action="/mainPage/add/completed" method="post">
			<p>The name of the firm: </p>
			<input type="text" name="firm">
			<br>
			<br>
				
			<p>The date of the registry: </p>
			<input type="date" name="date" >
			<br>
			<br>
				
			<p>The requested technologies: </p>
			<input type="text" name="technologies">
			<br>
			<br>
				
			<p>The level of the language: </p>
				<select name="language">
					<option th:each="language:${T(Projects.Competitions_Register.model.Language_Level).values()}" th:text="${language}" th:value="${language}"> </option>
				</select>
			<br>
			<br>	
	
			<p>Which round is the actual: </p>
				<select name="round">
					<option th:each="round:${T(Projects.Competitions_Register.model.Round).values()}" th:text="${round}" th:value="${round}"> </option>
				</select>	
			<br>
			<br>
				
			<p>The type of the round: </p>
				<select name="round_type">
					<option th:each="round_type:${T(Projects.Competitions_Register.model.Round_Type).values()}" th:text="${round_type}" th:value="${round_type}"> </option>
				</select>	
			<br>
			<br>
		
			<p>Select the status:</p>
				<select name="status">
					<option th:each="status:${T(Projects.Competitions_Register.model.Status).values()}" th:text="${status}" th:value="${status}"> </option>
				</select>
			<br>
			<br>
		
			<p>Feedback: </p>
				<input type="number" name="feedback" >
			<br>
			<br>
			
			<p>Description: </p>
				<input type="text" name="description" >	
			<br>
			<br>
				<input class="button" type="submit" value="Submit">
		</form>
	</div>	
</body>
	
</html>