<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>New Competition has been added!</title>
	</head>
	
	<body>
	
		<h3>New Competition has been inserted!</h3>
	
			<form action="/mainPage" method="post"  >
			
				<p>Back to the main page: </p>
	
			 		<button type="submit">Click</button>
			 
			</form>
		
		<br>
		<br>
	
			<form action="/add" method="post"  >
			
				<p>Back to the insert page: </p>
	
				 	<button type="submit">Click</button>
			 
			</form>
		
		<br>
		<br>
		
			<form action="/" method="exit"  >
			
				<p>Exit: </p>
	
				 <button type="submit">Click</button>
			 
			</form>
	
	
	</body>
	
</html>