<!DOCTYPE html>
<html class="background">

<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="css/style.css" >
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
	
<body>
	<div class="register">
		<form action="/mainPage" method="post">
			<h4>User</h4>
			<input type="text" name="username">
			<h4>Password</h4>
			<input type="text" name="password">
			<br>
			<br>
			<input class="button" type="submit" value="Submit">
		</form>
	</div>
</body>

</html>