<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>main Page</title>
		
			<style>
			table, th, td {
			border: 2px solid black;
			border-collapse:collapse;
			}
			</style>
	
	</head>

	<body>
	
		<h3 style="text-align:center"  >Here is the actual competitions:</h3>
		
			<br>
			<br>
		
			<table>
			
				<th>The name of the firm</th>
				<th>The date of submit</th>
				<th>Requested technologies</th>
				<th>command of a language (level)</th>
				<th>Round of the interviews</th>
				<th>Type of the interviews</th>
				<th>The status of the competitions</th>
				<th>Other descriptions</th>
				
					<tr th:each="list:${actuals}">
					
						<td th:text="${actuals.firm}"  ></td>
						<td th:text="${actuals.date}"  ></td>
						<td th:text="${actuals.technologies}"></td>
						<td th:text="${actuals.language}"></td>
						<td th:text="${actuals.round}" ></td>
						<td th:text="${actuals.round_type}"></td>
						<td th:text="${actuals.status}"></td>
						<td th:text="${actuals.description}"></td>
					
					</tr>
		
			</table>
			
			<br>
			<br>
			
		<h3 style="text-align:center">Statistics:</h3>
		
			<br>
			<br>
			
			<p>The number of all competitions:</p>
				<p th:text="${allCounter}" ></p>
			<br>
			
			<p>Number of all feedbacks:</p>
				<p th:text="${feedbackCounter}" ></p>
			<br>
			
			<p>All Competition-all feedbacks ratio:</p>
				<p th:text="${feedbackCounter}" ></p>
			<br>
			
			<p>The number of the actual competitions:</p>
				<p th:text="${actualCounter}"  ></p>
				
			<br>
				
			<p>The number of the actual competitions:</p>
				<p th:text="${activeCounter}"  ></p>
		
	
	</body>
	
</html>