<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>No data!</title>
	</head>
	
	<body>
	
		<h2 Style="text-align:center">We are sorry, but the database is currently empty!</h2>
			<br>
			<br>
				<form action="/add" method="post" >
				
					<p>Click here, if you want to add new competition to the database:</p>
						<button type="submit"> Click</button>
				
				</form>
				
					<p>Click here to exit</p>
						<br>
							<a href="/"> <button>Exit</button> </a>
	</body>
	
</html>