<!DOCTYPE html>
<html class="background">

<head>
	<meta charset="UTF-8">
	<title>Update</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
	
<body>
	<div class="exit" >
		<form action="/" method="get" >
			<button class="button" type="submit">Exit</button>
		</form>	
		<br>
		<form action="/mainPage" method="post"  >
			<button class="button" type="submit">Back</button>
		</form>
	</div>
	
	<div class="register" id="competitionBox" >
		<h4>The variable data:</h4>
		<p>The actual round: </p>
		<p th:text="${competition.round}" ></p>
		<form action="/mainPage/update/completed" method="post" >
			<select name="round">
				<option th:each="round:${T(Projects.Competitions_Register.model.Round).values()}" th:text="${round}" th:value="${round}"> </option>
			</select>	
			<br>
			<br>		
			<button class="button" type="submit">Click</button>
			<br>
			<br>
		</form>
		
		<p>The actual type of the round: </p>				
		<p th:text="${competition.round_type}"></p>
		<form action="/mainPage/update/completed" method="post" >
			<select name="round_type">
				<option th:each="round_type:${T(Projects.Competitions_Register.model.Round_Type).values()}" th:text="${round_type}" th:value="${round_type}"> </option>
			</select>	
			<br>
			<br>
			<button class="button" type="submit">Click</button>
			<br>
			<br>
		</form>
					
		<p>The actual state of the competition's status: </p>	
		<p th:text="${competition.status}"></p>
		<form action="/mainPage/update/completed" method="post" >
			<select name="status">
				<option th:each="status:${T(Projects.Competitions_Register.model.Status).values()}" th:text="${status}" th:value="${status}"> </option>
			</select>
			<br>
			<br>
			<button class="button" type="submit">Click</button>
			<br>
			<br>
		</form>
				
		<p>The actual state of feedbacks: </p>
		<p th:text="${competition.feedback}" ></p>
		<form action="/mainPage/update/completed" method="post"  >
			<input type="number" name="feedback" >
			<br>
			<br>
			<button class="button" type="submit">Click</button>
			<br>
			<br>
		</form>
	
		<p>Actual informations about the jobs: </p>
		<p th:text="${competition.description}" ></p>
		<form action="/mainPage/update/completed" method="post" >
			<input type="text" name="description" >
			<br>
			<br>
			<button class="button" type="submit">Click</button>
		</form>
	</div>
</body>
	
</html>