<!DOCTYPE html>
<html class="background">

<head>
	<meta charset="UTF-8">
	<title>Wrong Input!</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">	
</head>

<body>
	<div class="exit" >
		<form action="/" method="get" >
			<button class="button" type="submit">Exit</button>
		</form>	
	</div>
	<div class="register">
		<h4>Wrong Input!</h4>
		<br>
		<br>
		<form action="/mainPage/add" method="post" >
			<p>Click here, to go back to insert new competition: </p>
			<br>
			<button class="button" type="submit"> Click</button>
		</form>
	</div>		
</body>
	
</html>